// import variables
@import '_vars';

// sass styling
.hide {
    display: none;
}

.boxhelper {
    background-color: black;
    height: 150px;
    width: 150px;
}


@font-face {
    font-family: HammersmithOne;
    src: url('fonts/Hammersmithone.ttf');
    font-family: Montserrat-Light;
    src: url('fonts/Monstserrat-Light.ttf')
}

body {
    color: $white;
}

#main-header {
    background-color: $lgreen;
    text-align: center;
    height: 600px;
}

#header-title {
    h1{ // default font size 40px
    margin-top: 250px;
    font-family: $title;
    text-transform: uppercase;
    }
}

#morning-section {
    background-color: $dgreen;
}

#afternoon-section {
    background-color: $lgreen;
}

#night-section {
    background-color: $dgreen;
}

#moreinfo-section {
    background-color: $lgreen;
}

.icons {
    margin-top: 50px;
    text-align: center;
    
}

.icon-image {
    height: 150px;
    width: 150px;
}

.right-text {
    margin-top: 30px;
    margin-bottom: 20px;
    h2 {
        text-align: center;
        font-family: $title;
        text-transform: uppercase;
    }
    p {
        margin-top: 20px;
        font-family: $body;
        font-weight: bold;
    }
}

.left-text {
    margin-top: 30px;
    margin-bottom: 20px;
    h2 {
        text-align: center;
        font-family: $title;
        text-transform: uppercase;
    }
    p {
        margin-top: 20px;
        font-family: $body;
        font-weight: bold;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #header-title {
        h1{
            font-size: 50px;
        }
    }

    .icons {
        margin-top: 35px;
        height: 150px;
    }

    .right-text {
        text-align: right;
        h2 {
            text-align: right;
            margin-right: 30px;
        }
        p {
            margin-right: 30px;
        }
    }

    .left-text {
        h2 {
            text-align: left;
            margin-left: 30px;
        }
        p {
            margin-left: 30px;
        }
    }

    .fr {
        float: right;
    }

    .fl {
        float: left;
    }

    .icons {
        margin-top: 35px;
    }

    .icon-image {
        margin-left: 30px;
        margin-right: 30px;
    }

    .sect {
        height: 220px;
    }

}



